.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #3c948b;
  padding-bottom: 20px;
}

.form {
  width: 30%;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  border: none;
  font-size: 20px;
  background-color: #3f3f3f;
  color: #fff;
}

.search-box::placeholder {
  text-align: center;
  font-size: 18px;
  color: #b8b6b6;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid #000;
}

.show-card {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid #000;
}

.card-img {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
  height: 360px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.next-icon {
  font-size: 30px;
  color: #fff;
}

.home-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-img {
    width: 85%;
    height: 200px;
  }

  .card-img img {
    width: 94%;
    height: 95%;
  }

  .next-icon {
    font-size: 18px;
  }

  .navbar h1 {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 13px;
  }

  .setting-mic {
    width: 20%;
  }

  .form {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-img {
    width: 76%;
    height: 310px;
  }

  .next-icon {
    font-size: 25px;
  }

  .form {
    width: 50%;
  }
}
