.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(97, 148, 231);
  padding-bottom: 20px;
}

.form {
  width: 30%;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  border: none;
  font-size: 20px;
  color: rgb(97, 148, 231);
}

.search-box::placeholder {
  text-align: center;
  font-size: 18px;
  color: #9c9b9b;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid #000;
}

.show-card {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid #000;
}

.card-img {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: 100% 240px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.next-icon {
  font-size: 30px;
  color: #fff;
  padding: 8px;
}

.home-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  color: #fff;
  align-items: flex-end;
  font-size: 15px;
  margin-right: 60px;
}

.name {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-img {
    background-size: 100% 135px;
    width: 85%;
    height: 200px;
    height: 135px;
  }

  .card-img img {
    width: 94%;
    height: 95%;
  }

  .next-icon {
    font-size: 18px;
  }

  .logo {
    width: 30%;
  }

  .nav-title {
    width: 62%;
    font-size: 24px;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 13px;
  }

  .setting-mic {
    width: 20%;
  }

  .form {
    width: 90%;
  }

  .name {
    font-size: 16px;
  }

  .home-details {
    font-size: 12px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-img {
    width: 76%;
    height: 221px;
  }

  .next-icon {
    font-size: 25px;
  }

  .form {
    width: 50%;
  }

  .nav-title {
    width: 50%;
  }
}
